[submodule "ds2024_30642_boar_daniel-ioan_assignment_1"]
    path = ds2024_30642_boar_daniel-ioan_assignment_1
    url = https://github.com/daniboar/ds2024_30642_boar_daniel-ioan_assignment_1.git
[submodule "ds2024_30642_boar_daniel-ioan_assignment_2"]
    path = ds2024_30642_boar_daniel-ioan_assignment_2
    url = https://github.com/daniboar/ds2024_30642_boar_daniel-ioan_assignment_2.git
[submodule "ds2024_30642_boar_daniel-ioan_assignment_3"]
    path = ds2024_30642_boar_daniel-ioan_assignment_3
    url = https://github.com/daniboar/ds2024_30642_boar_daniel-ioan_assignment_3.git
